

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:blue;
 }

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #6548e4;
  color: white;
}
  /* persionaldetails */
#id_gender{
  list-style-type: none;
  display: inline-flex;

}

#id_gender>li{
  padding-left: 10px;
  
}