{% extends 'core/base.html' %}



{% block content %}

<div class="container p-5 mt-5 ">
    <div class="row">

        <div class="col-sm-8">
            
        <h4>Our Team</h4>
           <p>
            All the members of my team are very good people. He completes all the tasks with sincerity and satisfaction. If any customer wants to chat with any problem. Their problem will be solved by systematic methods..
           </p>
        </div>
          <div class="col-sm-8">
           <h4>Our Business</h4>
           <p>My business is a multipurpose business. It includes all types of services like online admission, banking services, products
            sell and teach.
           </p>
        </div>
        <div class="col-sm-8">
           <h4>Our Services</h4>
           <p>
            My services include online form filling, online money transfer, college admission, result, pan card voter id
            card, driving license, railway ticket booking, air ticket booking, bus ticket booking and all other types of services. Apart from computer hardware, such as computer repairing, computer selling and buying, all other services are provided.
           </p>
        </div>
    </div>

</div>  

{% endblock content %}