{% extends 'core/base.html' %}


{% block content %}

<style>
 
  
</style>
<div class="container  p-5 mt-5">

    <div class="row">
        <div class="form-group mx-auto">
          <div class="col-sm-8 mx-auto">
          <h1 class="text-dark text-center">Contact Us </h1>

            <form action="" method="POST">
              {% csrf_token %}
                {{form.as_p}}
              <input type="submit" class="btn btn-dark btn-lg  btn-large offset-5" value="Submit">
            </form>
          </div>
        </div>
    </div> 
  </div>

    <!-- <form action="" method="POST">
    {% csrf_token %}
      <label for="nam">Name:</label>
      <input type="text" name="nam" value="name">

      <label for="em">Email:</label>
      <input type="email" name="nam" value="email">

      <label for="mess">Message:</label>
      <input type="text" name="mess" value="message">

      <input type="submit" value="Submit"/>

    </form> -->
    



  
 

{% endblock content %}