
{% extends 'core/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'core/css/myboot.css' %}">
{% endblock css %}

{% block content %}
<style>
  .carousel-item{
    width: 100;
  }
 
</style>
<div class="container-fluid p-0 m-0">
  <div class="row">
    <div class="col-12">
  <div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'core/images/img1.jpg' %}" class="d-block w-100" alt="..." width="700px" height="600px">
      </div>
      <div class="carousel-item">
        <img src="{% static 'core/images/img2.jpg'%}" class="d-block w-100" alt="..." width="700px" height="600px">
      </div>
      <div class="carousel-item">
        <img src="{% static 'core/images/img3.jpg'%}" class="d-block w-100" alt="..." width="700px" height="600px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>
</div>
</div>
{% endblock content %}

{% block content1 %}
 <div class="container-fluid mt-2">
   <h1 class="text-center text-white bg-dark">Available Services</h1>
   <div class="row mt-2" >
   <div class="col-sm-4 col-4">
 <ul class="list-group">
  <li class="list-group-item active bg-dark" style="font-size: 25px;" area-current="true">Government Services</li>
  <li class="list-group-item">Pan Card Services</li>
  <li class="list-group-item">AAdhar Card Services</li>
  <li class="list-group-item">Passport Services</li>
  <li class="list-group-item">Voter Id Card Services</li>
  <li class="list-group-item">Pension Scheme</li>
  <li class="list-group-item">Caste Certificate</li>
  <li class="list-group-item">Income Certificate</li>
  <li class="list-group-item">Domecile Certificate</li>
  <li class="list-group-item">Birth Certificate</li>
  <li class="list-group-item">Labour Card</li>
 </ul>
     </div>
     <div class="col-sm-4 col-4">
      <ul class="list-group">
        <li class="list-group-item active bg-dark" area-current="true" style="font-size: 25px;">Education Services</li>
        <li class="list-group-item">Computer Education</li>
        <li class="list-group-item">Vocational Training Course</li>
        <li class="list-group-item">Online Form</Form></li>
        <li class="list-group-item">Employeement Registration</li>
        <li class="list-group-item">Result</li>
        <li class="list-group-item">Bio Data</li>
        <li class="list-group-item">Online Admission</li>
        <li class="list-group-item">Project Report</li>
        <li class="list-group-item">Computer Purchase & Sales</li>
        <li class="list-group-item">Online Admission</li>
       </ul>
    </div>
    <div class="col-sm-4 col-4">
      <ul class="list-group">
        <li class="list-group-item active bg-dark" area-current="true" style="font-size: 25px;">Digital Services</li>
        <li class="list-group-item">Electricity Bill</li>
        <li class="list-group-item">Telephone Bill</li>
        <li class="list-group-item">Water Bill</li>
        <li class="list-group-item">Gas Connection</li>
        <li class="list-group-item">Pension Scheme</li>
        <li class="list-group-item">Money Transfer</li>
        <li class="list-group-item">Banking</li>
        <li class="list-group-item">Mobile Recharge</li>
        <li class="list-group-item">Rail Ticket</li>
        <li class="list-group-item">Air Ticket</li>
       </ul>
    </div>
   </div>
 </div>
        
{% endblock content1 %}

{% block content2 %}

<h2 class="text-center text text-white bg-dark">Our Services</h2>
<div id="myBtnContainer">
  <button class="btn active1" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('nature')">Banking</button>
  <button class="btn" onclick="filterSelection('cars')">Education</button>
  <button class="btn" onclick="filterSelection('people')">Product Seling</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column nature">
    <div class="content">
      <img src="{% static 'core/images/fino1.jpg' %}" alt="Mountains" style="width:100%">
      <!-- <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p> -->
    </div>
  </div>

  <div class="column nature">
    <div class="content">
      <img src="{% static 'core/images/hdfc1.jpg' %}" alt="Lights" style="width:100%">
      <!-- <h4>Lights</h4>
      <p>Lorem ipsum dolor..</p> -->
    </div>
  </div>
  <div class="column nature">
    <div class="content">
      <img src="{% static 'core/images/money1.jpg' %}" alt="Nature" style="width:100%">
      <!-- <h4>Forest</h4>
      <p>Lorem ipsum dolor..</p> -->
    </div>
  </div>

  <div class="column cars">
    <div class="content">
      <img src="{% static 'core/images/edu.jpg' %}" alt="Car" style="width:100%">
      <!-- <h4>Retro</h4>
      <p>Lorem ipsum dolor..</p> -->
    </div>
  </div>
  <div class="column cars">
    <div class="content">
      <img src="{% static 'core/images/education1.jpg' %}" alt="Car" style="width:100%">
      <!-- <h4>Fast</h4>
      <p>Lorem ipsum dolor..</p> -->
    </div>
  </div>
  <div class="column cars">
    <div class="content">
      <img src="{% static 'core/images/computer1.jpg' %}" alt="Car" style="width:100%">
      <!-- <h4>Classic</h4>
      <p>Lorem ipsum dolor..</p> -->
    </div>
  </div>

  <div class="column people">
    <div class="content">
      <img src="{% static 'core/images/Computer-Repair1.jpg' %}" alt="People" style="width:100%">
      <!-- <h4>Girl</h4>
      <p>Lorem ipsum dolor..</p> -->
    </div>
  </div>
  <div class="column people">
    <div class="content">
      <img src="{% static 'core/images/sales1.jpg' %}" alt="People" style="width:100%">
      <!-- <h4>Man</h4>
      <p>Lorem ipsum dolor..</p> -->
    </div>
  </div>
  <div class="column people">
    <div class="content">
      <img src="{% static 'core/images/laptop1.jpg' %}" alt="People" style="width:100%">
      <!-- <h4>Woman</h4>
      <p>Lorem ipsum dolor..</p> -->
    </div>
  </div>
<!-- END GRID -->
</div>
        
{% endblock content2 %}
{% block jsfooter %}
<script src="{% static 'core/js/my.js'%}"></script>
{% endblock jsfooter %}


