{% extends 'edu/base1.html' %}
{% load static %}

  
{% block content1 %}
<div class="continer p-5 mt-5">
    <div class="row">

        <div class="col-sm-8 offset-2">
            
            <h4>Our Faculty</h4>
           <p>The teachers of my institute are highly educated persons. He teaches hard and carefully. If any candidate wants to interact with any problem. He can contact by contact number or email. All their queries will be solved in a systematic way.
           </p>

           <h4>Our Education</h4>
           <p>Advanced technology is the basis of our education system. Our institute is providing better education from new era. Our learning platform is offline. In future we will try to bring online.
           </p>

           <h4>Our Goal</h4>
           <p>
            The goal of our education is to develop the coming young generation.We will give them such education that they can get success in their career and run their life petition.
           </p>
        </div>
    </div>

</div>  
        
{% endblock content1 %}